.cardList {
	padding-top: 30px;
}

.cardList-wrap {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	justify-content: center;
	gap: 10px;
	margin: 0 auto;
	width: 400px;
}